.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 56px;
  width: 98%;
  background-color: #282828;
  padding: 20px;
}

.footer__left {
  flex: 0.4;
  display: flex;
  color: #fff;
  align-items: center;
  width: 300px;
}

.footer__albumCover {
  max-width: 60px;
  height: 100%;
  object-fit: contain;
  margin-right: 12px;
}

.footer__songInfo > h4 {
  margin-bottom: 5px;
  white-space: nowrap;
}

.footer__songInfo > p {
  font-size: 13px;
}

.footer__center {
  flex: 0.2;
  padding: 0 100px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.footer__green {
  color: #1ed15e;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer__right {
  flex: 0.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.footer__right * .MuiSlider-root {
  color: green;
  /* max-width: 30%; */
  padding-left: 6px;
}